* {
    margin: 0;
    padding: 0;
}
.navbar {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #555555;
    padding: 0.4rem 0.6rem;
}

.navbar>h1 {
    color: #fff;
}

.logo {
    width: 20%;
}

.navbar img {
    width: 100px;
    object-fit: cover;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #fcf6ed;
}

.sidebar {
    background-color: #F47216;
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    height: 100vh;

}
@media screen and (max-width:720px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 15% 85%;
    }
    .sidebar{
        height: 80%;
    }
}

.sidebar>* {
    padding: 1rem;
    color: #fff;
    font-weight: 800;
    font-size: 3.5vh;
}

.sidebar>*:hover {
    background-color: #949494;
    color: #fff;
    cursor: pointer;
}

.main {
    width: 100%;
    display: grid;
    grid-template-rows: 8% 92%;
    position: relative;
    overflow: auto;
    height: 100vh;
}

.spacecrafts,
.launchers {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.spacecrafts>*,
.launchers>* {
    border: 1px solid #bcbcbc;
    padding: 1rem;
}

.even {
    background-color: #f0f0f0;
}

.odd {
    background-color: #bcbbbb;
}


.main>* {
    position: absolute;
}

.display {
    display: flex;
}

.hidden {
    display: none;
}
.customer_satellites, .center{
    flex-direction: column;
    padding: 1rem;
}
.filter, .filter2{
display: flex;
padding: 0.2rem 0;
}
.filter> *, .filter2> *{
    padding: 0.4rem 0.6rem;
}
.clicked{
    background-color: #949494;
}